<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wisnu.kurniawan.debugview">

    <application>
        <activity
            android:name=".internal.runtime.DebugViewActivity"
            android:exported="true"
            android:icon="@mipmap/debugview_ic_launcher"
            android:taskAffinity="com.wisnu.kurniawan.${applicationId}"
            android:theme="@style/DebugViewTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name=".internal.runtime.DebugViewLauncherActivity"
            android:exported="true"
            android:icon="@mipmap/debugview_ic_launcher"
            android:label="@string/debugview_app_name"
            android:targetActivity=".internal.runtime.DebugViewActivity"
            android:taskAffinity="com.wisnu.kurniawan.${applicationId}"
            android:theme="@style/DebugViewTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.wisnu.kurniawan.debugview.internal.runtime.DebugViewInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
